<!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="main">
    <div>
      <div *ngFor="let item of survey; let i = index">
        <h1>{{ item.title }}</h1>
        <h5>{{ i + 1 }}. {{ item.question }}</h5>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="{{ i }}"
            id="flexRadioDefault1"
            value="{{ survey[0].option1 }}"
            (change)="select($event)"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            {{ survey[0].option1 }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="{{ i }}"
            id="flexRadioDefault2"
            value="{{ survey[0].option2 }}"

            (change)="select($event)"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            {{ item.option2 }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="{{ i }}"
            id="flexRadioDefault2"
            value="{{ survey[0].option3 }}"
            checked
            (change)="select($event)"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            {{ item.option3 }}
          </label>
        </div>
      </div>
      <div class="pages-button">
        <div class="sub-cancel">
          <button style="float: left" type="button" class="btn btn-danger" routerLink="/responded">
            Cancel
          </button>
          <button type="submit" (click)="onSubmit()" style="float: right" class="btn btn-warning">
            Submit
          </button>
        </div>
      </div>

    </div>
  </div>
</form> -->

<body>
  <form action="">
    <div class="main">
      <div class="bd">
      <h5>1. {{ survey[0].question }}</h5>
  
      <div class="form-check ">
        <input
          class="form-check-input "
          type="radio"
          name=0
          id="q1.1"
          value= '{{ survey[0].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[0].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=0
          id="q1.2"
          value='{{ survey[0].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[0].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=0
          id="q1.3"
          value= '{{ survey[0].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[0].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>2. {{ survey[1].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=1
          id="q2.1"
          value='{{ survey[1].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[1].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=1
          id="q2.2"
          value='{{ survey[1].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[1].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=1
          id="q2.3"
          value= '{{ survey[1].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[1].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>3. {{ survey[2].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=2
          id="q3.1"
          value='{{ survey[2].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[2].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=2
          id="q3.2"
          value='{{ survey[2].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[2].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=2
          id="q3.3"
          value= '{{ survey[2].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[2].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>4. {{ survey[3].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=3
          id="q4.1"
          value='{{ survey[3].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[3].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=3
          id="q4.2"
          value= '{{ survey[3].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[3].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=3
          id="q4.3"
          value='{{ survey[3].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[3].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>5. {{ survey[4].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=4
          id="q5.1"
          value='{{ survey[4].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[4].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=4
          id="q5.2"
          value='{{ survey[4].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[4].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=4
          id="q5.3"
          value= '{{ survey[4].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[4].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>6. {{ survey[5].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=5
          id="q6.1"
          value='{{ survey[5].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[5].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=5
          id="q6.2"
          value='{{ survey[5].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[5].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=5
          id="q6.3"
          value='{{ survey[5].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[5].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>7. {{ survey[6].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=6
          id="q7.1"
          value='{{ survey[6].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[6].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=6
          id="q7.2"
          value= '{{ survey[6].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[6].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=6
          id="q7.3"
          value='{{ survey[6].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[6].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>8. {{ survey[7].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=7
          id="q8.1"
          value='{{ survey[7].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[7].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=7
          id="q8.2"
          value='{{ survey[7].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[7].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=7
          id="q8.3"
          value= '{{ survey[7].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[7].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
    <div class="bd">
      <h5>9. {{ survey[8].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=8
          id="q9.1"
          value='{{ survey[8].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[8].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=8
          id="q9.2"
          value='{{ survey[8].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[8].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=8
          id="q9,3"
          value='{{ survey[8].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[8].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <div class="bd">
      <h5>10. {{ survey[9].question }}</h5>
  
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=9
          id="q10.1"
          value='{{ survey[9].option1 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ survey[9].option1 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=9
          id="q10.2"
          value= '{{ survey[9].option2 }}'
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[9].option2 }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name=9
          id="q10.3"
          value=' {{ survey[9].option3 }}'
          checked
          (change)="select($event)"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          {{ survey[9].option3 }}
        </label>
      </div>
    </div>
  
  
  
  
  
  
    <!-- ==================================================================== -->
  
    <div class="pages-button">
      <div class="sub-cancel">
        <button
          style="float: left"
          type="button"
          class="btn btn-danger"
          routerLink="/responded"
        >
          Cancel
        </button>
        <button
          type="submit"
          (click)="onSubmit()"
          style="float: right"
          class="btn btn-warning"
        >
          Submit
        </button>
      </div>
    </div>
    </div>
  </form>
</body>
