.card-registration .select-input.form-control {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-registration .select-arrow {
    top: 13px;
}

//Desktop
@media screen and (min-width: 769px) {
    .container {
        width: 70vw;
    }
}

//Tablet
@media screen and (min-width: 768px)and (max-width:768px) {
    .container {
        width: 65vw;
    }
}

@media screen and (min-width: 375px) {
    .container {
        width: 100vw;
    }
}

.gradient-custom {
    margin-top: 15vh;
}



button {
    box-sizing: border-box;
    background: #011345;
    border: 1px solid #000000;
    border-radius: 10px;
    line-height: 16px;
    text-align: center;
    width: 90px;
    height: 47px;
    text-align: center;
    color: #FFFFFF;
}

.jumbotron {
    margin-top: 6%;
}

input {
    width: 100wv;
    height: 7vh;
}

#search::before {
    border: solid grey 1px;

}

#search::after {
    border: solid rgb(68, 202, 255) 1px;

}

#search:hover {
    border: solid rgb(68, 202, 255) 1px;
}

.btn-results {
    color: white;
}


.q {
    background-color: #7B6E6E;
    border-radius: 10px;
    // width: 100;
    height: 40;
}

.s {
    background-color: #3DACEA;
    border-radius: 10px;
    // width: 100;
    height: 40;
}

.d {
    background-color: #FF0000;
    border-radius: 10px;
    // width: 100;
    height: 40;
}

.q{
    background-color: #E0C5AC;
    border-radius: 10px;
    width: 100px;
    height: 40;
}
.s{
    background-color: #777777;
    border-radius: 10px;
    padding: .5px;
    width: 100px;
    height: 40;
}
.l {

    margin-top: 10px;
    border-radius: 10;
    background-color: #FF0000;
}

.n {

    margin-right: 20px;
    border-radius: 12px;
    background-color: #60799D;
    color: white;
    }
.take{
        display: flex;
}
h5{
       padding-top: 10px;
       padding-right: 10px;

}
.t{
       width: 77px;

}

tr:nth-child(even) {
    background-color: #dddddd;
  }




#radius-shape-1 {
    height: 100%;
    width: 100%;
    top: -60%;
    left: -130%;
    // background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  


  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    /* background: radial-gradient(#44006b, #ad1fff); */
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
.t{
    text-align: left;
}

.take {
    display: flex;
}

h5 {
    padding-top: 10px;
    padding-right: 10px;

}

.t {
    width: 77px;

}
//
/////////////////////////////////////////////
///

.card-registration .select-input.form-control {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}


    #radius-shape-1 {
        height: 100%;
        width: 100%;
        top: -60%;
        left: -130%;
        // background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }

      .background-radial-gradient {
        background-color:#F5F5F5;
        
      }


      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        /* background: radial-gradient(#44006b, #ad1fff); */
        overflow: hidden;
      }

      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    .t{
        text-align: left;
    }

body {
  height: 100%;
  width: 100%;
}


section div {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width: 400px) {
  section div {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  section div {
    margin-top: 40px;
  }

.card-registration {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-registration .select-arrow {
  top: 13px;
}

//Desktop
@media screen and (min-width: 769px) {
  .container {
    width: 70vw;
  }
}

//Tablet
@media screen and (min-width: 768px)and (max-width:768px) {
  .container {
    width: 65vw;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 100vw;
  }
}

.gradient-custom {
  margin-top: 15vh;
}

button {
  box-sizing: border-box;
  background: #011345;
  border: 1px solid #000000;
  border-radius: 10px;
  line-height: 16px;
  text-align: center;
  width: 186px;
  height: 47px;
  text-align: center;
  color: #FFFFFF;

}
}

tr{
  height: 70px;

}


.background {
  background-color: #F5F5F5;
  height: 100%;
}

.background-radial-gradient {
  
  padding-left: 1%;
  background-color: #F5F5F5;
}


table {
  width: 100%;

}
// .tb{
//   border: 1px solid black;
//   padding: 2em;
// }

.col-lg-6 {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .background-radial-gradient {
  
    padding-left: 5%;
  }
}
