.card-registration .select-input.form-control {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-registration .select-arrow {
    top: 13px;
}

//Desktop
@media screen and (min-width: 769px) {
    .container {
        width: 70vw;
    }
}

//Tablet
@media screen and (min-width: 768px)and (max-width:768px) {
    .container {
        width: 65vw;
    }
}

@media screen and (min-width: 375px) {
    .container {
        width: 100vw;
    }
}

.gradient-custom {
    margin-top: 15vh;
}

button {
    box-sizing: border-box;
    background: #E0C5AC;
    border: none;
    border-radius: 10px;
    line-height: 16px;
    text-align: center;
    width: 186px;
    height: 47px;
    text-align: center;
    color: #FFFFFF;
}
    





#radius-shape-1 {
    height: 100%;
    width: 100%;
    top: -60%;
    left: -130%;
    // background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .background-radial-gradient {
    background-color: #F5F5F5;
        height: 100%;
  }


  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    /* background: radial-gradient(#44006b, #ad1fff); */
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
.t{
    text-align: left;
.background {
    background-color: #F5F5F5;
}

.m {
    margin-left: 40%;
}}