<div class="background" style="background-color: #F5F5F5;">
    <div style="height: 1px;"></div>
    <div class="container px-4 py-5 px-md-5 text-lg-start my-5 col-md-12 col-lg-12 col-sm-12">
        <div class="row justify-content-center align-items-center ">
            <div class="col col-md -12 col-xl-7">
                <div class="card bg-glass px-4 py-5 px-md-5" style="border-radius: 15px;">
                    <div class="text-center">
                        <img src="../../../assets/images/survello.png" width="290px">
                    </div>
                    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                        <div class="form-group col mb-4">
                            <label>Email </label>
                            <input type="text" formControlName="email" placeholder="Email" class="form-control"
                                [ngClass]="{ 'is-invalid':submitted && f['email'].errors }" />
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                            </div>
                        </div>
                        <div class="form-group col mb-4">
                            <label>Password</label>
                            <input type="password" formControlName="password" placeholder="Password"
                                class="form-control" [ngClass]="{ 'is-invalid':submitted && f['password'].errors }" />
                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                                <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 character
                                </div>
                                <div *ngIf="f['password'].errors['maxlength']">Password must not exceed 40 character
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="submit btn btn-success btn-block btn-lg">Login</button>
                        </div>
                    </form>

                    <div class="form-group ">
                        <p>Not a member? <a routerLink='/signup'>Signup</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 1px;"></div>
</div>